schema.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:d="duell"
           targetNamespace="duell"
           elementFormDefault="qualified">

    <xs:include schemaLocation="../duell/schema/common_schema.xsd" />

    <xs:complexType name="filesystem">
        <xs:choice minOccurs="0" maxOccurs="unbounded">
            <xs:element name="static-assets" type="d:Path"/>
            <xs:element name="exclude" type="d:Path"/>
            <xs:element name="embed-assets" type="d:ValueBoolean"/>
        </xs:choice>
    </xs:complexType>

</xs:schema>